@tailwind base;
@tailwind components;
@tailwind utilities;

.ai-content p {
    margin-bottom: 1rem;
}

.ai-content ul,
.ai-content ol {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.ai-content li {
    list-style: disc;
}